apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  interval: 5m
  releaseName: kube-prometheus-stack

  chart:
    spec:
      chart: kube-prometheus-stack
      version: 79.11.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system

  targetNamespace: monitoring

  install:
    createNamespace: true

  upgrade:
    remediation:
      retries: 3

  values:
    fullnameOverride: kube-prometheus-stack


    grafana:
      initChownData:
        enabled: false
      persistence:
        enabled: true
        type: pvc
        storageClassName: local-path
        size: 5Gi
        accessModes:
          - ReadWriteOnce
      service:
        type: ClusterIP
      adminUser: admin
      adminPassword: admin

    prometheus:
      prometheusSpec:
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: local-path
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 20Gi
      service:
        type: ClusterIP

    alertmanager:
      service:
        type: ClusterIP
