apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: tailscale-operator
  namespace: flux-system
spec:
  interval: 1m
  path: ./infra/tailscale-operator
  prune: true
  sourceRef:
    kind: GitRepository
    name: azure-hybrid-boilerplate

